<div class="d-flex justify-content-center mb-5 contenedor-movie-detail">
  <div class="card tarjeta">
    <img src="assets/images/img_star_wars_logo.svg"
         class="card-img-top imagen-detalle-pelicula"
         alt="Película Star Wars">
    <div class="card-body">
      <h5 class="card-title">A New Hope</h5>
      <p class="card-text">Id Episodio: 4</p>
      <p class="card-text">Opening: Hace mucho tiempo en una galaxia...</p>
      <p class="card-text">Director: George Lucas</p>
      <p class="card-text">Productor: Gary Kurtz</p>
      <p class="card-text">Fecha de lanzamiento: 25/05/1977</p>
      <p class="card-text">Personajes: Luke Skywalker, Leia Skywalker...</p>
      <p class="card-text">Planetas: Tatooine, Naboo...</p>
      <p class="card-text">Naves Espaciales: Halcón milenario, x-wing...</p>
      <p class="card-text">Vehículos: Estrella de la muerte, 4 patas...</p>
      <p class="card-text">Especies: Chewbacca, humanos...</p>
      <p class="card-text">Creado en: 10/12/2014</p>
      <p class="card-text">Editado: 11/04/2015</p>
      <p class="card-text">URL: https://swapi.co/api/films/1/</p>
      <a href="#!" class="btn btn-primary" (click)="onClick()">Regresar</a>
    </div>
  </div>
</div>
