<div class="d-flex justify-content-center my-5">
  <div class="card tarjeta">
    <img src="assets/images/img_star_wars_logo.svg"
         class="card-img-top imagen-detalle-pelicula"
         alt="Película Star Wars">
    <div class="card-body">
      <h5 id="detail-titulo" class="card-title"></h5>
      <p id="detail-episodio" class="card-text"></p>
      <p id="detail-opening" class="card-text"></p>
      <p id="detail-director" class="card-text"></p>
      <p id="detail-productor" class="card-text"></p>
      <p id="detail-lanzamiento" class="card-text"></p>
      <p id="detail-personajes" class="card-text"></p>
      <p id="detail-planetas" class="card-text"></p>
      <p id="detail-naves" class="card-text"></p>
      <p id="detail-vehiculos" class="card-text"></p>
      <p id="detail-especies" class="card-text"></p>
      <p id="detail-creacion" class="card-text"></p>
      <p id="detail-edicion" class="card-text"></p>
      <p id="detail-url" class="card-text"></p>
      <p class="card-text"></p>
      <a href="#!" class="btn btn-primary" (click)="onClick()">Regresar</a>
    </div>
  </div>
</div>
