<div class="d-flex justify-content-center mb-5">
  <div class="row w-75 justify-content-around movie-grid no-gutters">
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  <div class="col-12 col-sm-6 col-xl-4"><app-movie></app-movie></div>
  </div>
</div>
