<!--div class="d-inline-block mx-auto">
</div-->

<div class="contenedor-buscador">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Ingresa el nombre de la película que quieres buscar..." aria-label="I with two button addons" aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary" type="button">Button</button>
          <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div> 
</div>