.contenedor-buscador {
  width: calc(100% - 15px);
  height: calc(100% - 150px);
}

.contenedor-principal {
  margin-top: 75px;
}

.barra-busqueda {
  max-height: 38px;
}

.componente-detail {
  width: 75%;
}

@media (min-width: 768px) {
  .componente-detail {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .contenedor-principal {
    margin-top: 150px;
  }
}
