<div class="contenedor-buscador">
  <app-main-title></app-main-title>
  <div class="input-group d-flex justify-content-center barra-busqueda">
    <div class="w-75 d-flex">
      <input type="text" class="form-control"
             placeholder="Ingresa nombre o año..."
             aria-label="I with two button addons"
             aria-describedby="button-addon4">
      <div class="input-group-append" id="button-addon4">
        <div class="input-group">
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary dropdown-toggle bg-primary text-white border-dark"
              type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Año
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#!">Año 1</a>
              <a class="dropdown-item" href="#!">Año 2</a>
              <a class="dropdown-item" href="#!">Año 3</a>
              <a class="dropdown-item" href="#!">Año 4</a>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn btn-outline-secondary bg-primary text-white border-dark"
        type="button">Buscar
      </button>
    </div>
  </div>
  <app-movie-grid id="grid-peliculas"></app-movie-grid>
  <app-movie-detail id="detalle-pelicula" class="d-none"></app-movie-detail>
</div>
