.contenedor-buscador {
  width: calc(100% - 15px);
  height: calc(100% - 150px);
}

.barra-busqueda {
  margin-top: 75px;
}

@media (min-width: 992px) {
  .barra-busqueda {
    margin-top: 150px;
  }
}
