.tarjeta {
  background-color: rgba(189, 189, 189, 0.6);
}

.sw-image {
  background-image: url("../../assets/images/img_star_wars_logo.svg");
}


.card-body{
  height: 270px;
}



.top{
  top: 517px;
  /*position : absolute;*/
}

@media (max-width: 574px) {
  .top{
    z-index: 99;
    position: relative;
    top: 9px;
  }
}

@media (min-width: 576px) and (max-width: 825px) {
  .card{
    height: 581px;
  }

  .top{
    z-index: 99;
    position: absolute;
    top: 520px;
  }
  
}



